@import "variables";

.feature-group .flex-row {
  flex-wrap: wrap;
}

.blockquote-alt.cicd-blockquote {
  background: #ffffff;
  border-left: 5px solid $color-primary;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  color: #888888;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding: 30px;
}
